/* Main Styles */
* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    max-width: 1920px;
    background: rgb(245,245,245);
    font-family: "Sansita", sans-serif;
    color: #3B494C;
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    color: #3B494C;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 600px;
    max-height: 600px;
    margin: 0;
    padding: 0;
}
    
 /* Header */
    
header {
    padding: 10px 20px;
    height: 80px;
    color: #3B494C;
}

 /* Navigation */

#icon {
    height: 80px;
    padding: 0px 10px;
    float: left;
}

nav #name {
    float: left;
    margin: .6em 2em 0;
    vertical-align: center;
} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav #li4, nav #li3, nav #li5, nav #li6 {
    float: right;
    margin-top: 1.8em;
}

li a {
    text-decoration: none;
    border: solid 2px rgb(245,245,245);
    color: #3B494C;
    padding: 35px 15px;
    text-align: center;
    transition: all .1s ease-out;
    font-size: large;
}

li a:hover {
    border-left: solid 2px #08B1FC;
    border-right: solid 2px #08B1FC;
    border-bottom: solid 5px #08B1FC;
    background-color: rgb(250, 250, 250);
    transition: all .2s ease-in;
    color:#08B1FC;
}


/* Body */
#story{
    max-width: 100%;
    height: 100%;
}

/* Footer */

footer {
    display: block;
    height: 25px;
    padding: 10px 20px;
    color: #333132;
    background-color: rgb(212, 205, 192)
}

#copyright { 
    max-height: 100%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

/* Social Icons */

.social {
    margin: 2em;
}

.social li {
    display: inline-block;
    height: 75px;
    margin: 10px 10px;
}

.social li a {
    display: inline-block;
    max-width: 100%;
    border-radius: 50%;
    max-height: 75px;
}
 
