/* Main Styles */
* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    max-width: 1920px;
    background: rgb(245,245,245);
    font-family: "Sansita", sans-serif;
    color: #3B494C;
    font-size: 16px;
    margin: 0 10em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    color: #3B494C;
}

h1 {
    font-size: 3em;
    text-align: left;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 600px;
    max-height: 600px;
    margin: 0;
    padding: 0;
}
    
 /* Header */
    
header {
    height: 80px;
    color: #3B494C;
    margin-bottom: 3em;
}

 /* Navigation */
#navbar {
    width: 100%;
    height: 100%;
}

nav #name {
    float: left;
    height: 100%;
} 

nav #name li h2 {
    margin: .1em 0 .1em 0;
    font-size: 70px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

nav ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav #li1, nav #li2, nav #li3, nav #li4{
    float: right;
    margin-top: 3.8em;
}

li a {
    text-decoration: none;
    border: solid 2px #f5f5f5;
    color: #3B494C;
    margin-top: 0px;
    padding: 65px 15px 5px 15px;
    text-align: center;
    transition: all .1s ease-out;
    font-size: 16px;
}

li a:hover {
    border-left: solid 2px #08B1FC;
    border-right: solid 2px #08B1FC;
    border-bottom: solid 5px #08B1FC;
    background-color: #fafafa;
    transition: all .2s ease-in;
    color:#08B1FC;
    /* color: #0056E0; */
}


/* Body */

main {
    padding: 1em 0;
}

/* <T> */
#icon-main {
    height: 500px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

#icon {
    height: 80px;
    float: left;
    display: float;
    margin-right: auto;
}

/* Arrow */
i {
    border: solid #08B1FC;
    border-width: 0 1.5px 1.5px 0;
    display: block;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 25px;
    width: 25px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Content */
#story {
    /* padding-top: 2em; */
    margin-top: 6em;
    border-top: solid 1px #08B1FC;
}

#story p {
    padding-bottom: 3em;
}

main article p:last-child {
    padding-bottom: 3em;
}
main p:last-child {
    border-bottom: 1px solid #08B1FC;
}

/* Footer */

footer {
    display: inline-block;
    width: 100%;
    height: 25px;
    padding: 10px 0;
    color: #3B494C;
    border-top: 1px solid #08B1FC;
    margin-top: auto;
}

#copyright { 
    font-weight: bold;
    text-align: center;
    padding: 0;
}

/* Social Icons */

.social {
    margin: 2em;
}

.social li {
    display: inline-block;
    height: 75px;
    margin: 10px 10px;
}

.social li a {
    display: inline-block;
    max-width: 100%;
    border-radius: 50%;
    max-height: 75px;
}
 
