@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500|Titillium+Web");
body {
  font-family: "Roboto", "Arial";
  background-color: #fcfcfc;
  color: #3b494c; }

h1, h2, h3, h4 {
  font-family: "Titillium Web"; }

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: .35rem; }

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .35rem; }

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: .2rem; }

.landingContainer {
  margin-bottom: 3em;
  background-color: #fcfcfc; }

.tux {
  display: block;
  margin: 2rem auto; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#3fc1ff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; }

.custom-toggler.navbar-toggler {
  border: none !important; }

.custom-toggler:focus {
  outline: none; }

ul {
  list-style-type: none; }

.navlist {
  padding: 1rem;
  background-image: linear-gradient(0deg, rgba(42, 123, 255, 0.9), rgba(63, 193, 255, 0.9));
  text-align: right;
  float: right;
  margin-right: 15px; }

nav.fill ul li a {
  position: relative; }

nav.fill ul li a, nav.fill ul li a:after, nav.fill ul li a:before {
  transition: all .5s; }

nav.fill ul li a:after {
  position: absolute;
  bottom: -.7rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #fcfcfc;
  height: 1px; }

nav.fill ul li a:hover:after {
  width: 100%; }

nav a:hover {
  color: #fcfcfc; }

nav li a {
  font-family: "Titillium Web";
  text-decoration: none;
  font-weight: 800;
  color: #fcfcfc;
  line-height: .4;
  letter-spacing: .1rem;
  padding: 0 !important;
  margin: 0 .5rem; }

li {
  font-size: 16px;
  display: inline-block;
  color: #3b494c; }

li:not(:last-child) {
  margin-right: 15px; }

.landingWindows {
  margin-top: 7rem; }

.landingWindow {
  height: 14rem; }

#artWindow {
  background-image: linear-gradient(-90deg, rgba(42, 123, 255, 0.7), rgba(63, 193, 255, 0.7)), url("../images/art/wizard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%; }

#artWindow:hover {
  background-image: linear-gradient(-90deg, rgba(42, 123, 255, 0), rgba(63, 193, 255, 0)), url("../images/art/wizard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  transition: .5s ease-in; }

#devWindow {
  background-image: linear-gradient(135deg, rgba(42, 123, 255, 0.7), rgba(63, 193, 255, 0.7)), url("../images/pantry-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  transition: background-image 0.9s ease-in-out; }

#devWindow:hover {
  background-image: linear-gradient(135deg, rgba(42, 123, 255, 0), rgba(63, 193, 255, 0)), url("../images/pantry-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%; }

#resumeWindow {
  background-image: linear-gradient(45deg, rgba(42, 123, 255, 0.7), rgba(63, 193, 255, 0.7)), url("../images/twb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

#resumeWindow:hover {
  background-image: linear-gradient(-45deg, rgba(42, 123, 255, 0), rgba(63, 193, 255, 0)), url("../images/twb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: .5s ease-in; }

#aboutWindow {
  background-image: linear-gradient(-45deg, rgba(42, 123, 255, 0.7), rgba(63, 193, 255, 0.7)), url("../images/sketch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#aboutWindow:hover {
  background-image: linear-gradient(45deg, rgba(42, 123, 255, 0), rgba(63, 193, 255, 0)), url("../images/sketch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s ease-in; }

.aboutOverflow {
  overflow: hidden; }

.landingWindow:hover .landingText {
  display: none; }

.landingText {
  color: white;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 4px;
  word-wrap: break-word; }

#devSection {
  background-image: linear-gradient(360deg, #121213, #252525);
  color: #fcfcfc;
  padding-top: 3.5rem; }

.pantrySection, .bearArmsSection, .groupProjectsSection {
  margin-bottom: 5rem;
  margin-top: 5rem; }

.groupProjectsSection a {
  color: #fcfcfc; }

.appName {
  letter-spacing: 5px;
  display: inline-block;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #3fc1ff; }

.groupProject p {
  margin-bottom: 5rem; }

.groupProjectTitle {
  letter-spacing: 2px;
  padding-bottom: .5rem;
  display: inline-block;
  margin-bottom: 1rem; }

.blueText {
  color: #3fc1ff; }

.appDescription li {
  color: #91a3b1;
  display: block; }

.appDescription p {
  font-size: 20px;
  margin-bottom: 2em; }

.devIcon {
  width: 100%;
  margin-top: 3em; }

.projectButton {
  background-color: transparent;
  border: 2px solid #fcfcfc;
  margin: -1rem 1rem 1rem -1rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  transform: rotate(45deg);
  color: #fcfcfc;
  text-decoration: none;
  font-family: "Titillium Web";
  letter-spacing: 2px;
  font-weight: 800;
  cursor: pointer; }

.projectButton:hover {
  color: #fcfcfc;
  border: none;
  background-image: linear-gradient(-45deg, #2a7bff, #3fc1ff);
  transition: ease-in .2s;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg) translateY(-4px) translateX(-4px); }

.projectButton:active {
  transform: rotate(45deg) translateY(4px) translateX(4px);
  box-shadow: none;
  transition: ease-in-out .1s; }

.uxButton {
  position: relative;
  left: 20%; }

.textRotator {
  transform: rotate(-45deg);
  margin-bottom: 0; }

.workList {
  padding-left: 0; }

.workList li {
  margin-bottom: .5rem;
  display: block;
  color: #9cc7e8; }

.groupProjects {
  border: 2px solid #fcfcfc; }

.groupProjectsSection a:hover {
  text-decoration: none; }

/* stroke */
a .groupProject h3 {
  position: relative; }

a .groupProject h3, a .groupProject h3:after, a .groupProject h3:before {
  transition: all .5s; }

a .groupProject h3:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #3fc1ff;
  height: 2px; }

a:hover .groupProject h3:after {
  width: 100%; }

#aboutSection {
  background-color: #fcfcfc;
  padding: 3.5rem 0;
  color: #2A7BFF; }

.square {
  height: inherit;
  overflow: hidden; }

.pic {
  background: url("../images/me.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -29px;
  height: 100%; }

.greeting {
  letter-spacing: 0px; }

.aboutMe p {
  color: #3b494c; }

#artSection {
  background-image: linear-gradient(360deg, #e0e2ee, #fcfcfc);
  padding: 6rem 5rem 7rem 5rem; }

.carousel-inner {
  box-shadow: 0px 2px 40px -10px rgba(0, 0, 0, 0.2); }

.carousel-item {
  overflow: hidden; }

.carousel-item img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: scale(1);
  transform: scale(1); }

.carousel-item img:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

#active-carousel-indicators {
  bottom: -4.5rem !important;
  margin-right: 5%;
  margin-left: 5%; }

.carousel-indicators li {
  background-image: linear-gradient(-45deg, rgba(42, 123, 255, 0.7), rgba(63, 193, 255, 0.7));
  opacity: .85;
  width: .8rem;
  height: .8rem;
  cursor: pointer;
  transform: rotate(45deg);
  transition: .2s ease-in-out;
  border-radius: none; }

.carousel-indicators li:hover {
  background-image: none !important;
  background-color: transparent;
  border: 2px solid #3fc1ff;
  transform: rotate(135deg) scale(1.2); }

.carousel-indicators .active {
  background-image: none !important;
  background-color: transparent;
  border: 2px solid #3fc1ff;
  transform: rotate(135deg) scale(1.2); }

carousel-indicators li:focus {
  outline: none; }

.carousel-control-next {
  opacity: 1;
  transition: .3ms ease-in-out; }

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  opacity: 1; }

.carousel-control-prev {
  opacity: 1; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#3FC1FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  width: 2rem;
  height: 2rem;
  opacity: .6; }

.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#3FC1FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  opacity: 1; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#3FC1FF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  width: 2rem;
  height: 2rem;
  opacity: .6; }

.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#3FC1FF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  opacity: 1; }

.carouselSelector h2 {
  letter-spacing: 3px; }

.carouselSelector {
  padding-right: 30px;
  padding-left: 0px; }

.carouselSelector li {
  display: inline; }

.carouselSelector h2 {
  cursor: pointer; }

.activeSelector {
  color: #3fc1ff;
  text-shadow: 2px 10px 24px 6px rgba(0, 0, 0, 0.5); }

@media (min-width: 1400px) {
  .container {
    max-width: 1350px; } }
@media (max-width: 991px) {
  .capstone-1-description {
    margin-top: 9rem;
    text-align: center !important; }

  .tech {
    text-align: center !important; }

  .red-rectangle {
    text-align: center; }

  .pantry-mockup {
    left: 0 !important; } }
@media (min-width: 766px) {
  .carouselSelector h2 {
    font-size: 2.25rem; } }
@media (max-width: 767px) {
  .carouselSelector {
    padding: 0 !important;
    margin-bottom: 2rem; }

  .carouselSelector ul {
    margin: auto;
    padding-left: 0; }

  .carouselSelector ul li {
    display: inline-block; }

  #artSection {
    padding: 3rem 2rem 5rem !important; }

  #active-carousel-indicators {
    bottom: -3.5rem !important; }

  .landingWindow {
    height: 10rem !important; }

  .landingWindows {
    margin-top: 1rem !important; }

  .square {
    height: 25rem;
    margin-bottom: 2.5rem; }

  .devGoal {
    margin-bottom: 1rem; } }
@media (max-width: 475px) {
  h1 {
    font-size: 3rem;
    padding: 0 .5rem; }

  .carouselSelector h2 {
    font-size: 1.8rem; }

  .carousel-indicators li {
    margin: .4rem  !important; } }
@media (max-width: 405px) {
  .carousel-indicators li {
    margin: .2rem  !important; }

  .carouselSelector h2 {
    font-size: 1.5rem; } }
@media (max-width: 321px) {
  .landingWindow {
    height: 6rem !important; }

  .landingText {
    font-size: 18px !important; }

  .carouselSelector h2 {
    font-size: 1.2rem !important; } }
@media (min-width: 240px) {
  h1 {
    text-align: center; } }
.app-logo {
  display: block;
  width: 180px;
  margin: auto; }

.name {
  display: inline;
  vertical-align: middle;
  margin-left: 2rem; }

.pantry-intro {
  width: 100%;
  margin-top: 1rem;
  color: #3b494c;
  padding: 5rem; }

.app-description {
  color: #ec411f;
  font-weight: 800; }

.red-rectangle {
  height: 20rem;
  background-color: #ec411f;
  margin-bottom: 7rem; }

.pantry-mockup {
  position: relative;
  left: 25%;
  bottom: 35%; }

.capstone-1-description {
  transform: translateY(-6px); }

.nss-link {
  color: #ec411f;
  font-weight: bold; }

.nss-link:hover {
  text-decoration: none;
  color: #ff645f; }

.nss-link2 {
  color: #2A7BFF;
  font-weight: bold; }

.nss-link2:hover {
  text-decoration: none;
  color: #81d7ff; }

.heading {
  color: #ec411f;
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 6rem;
  margin-bottom: 2rem; }

.survey-stat-icon {
  display: block;
  width: 45%;
  margin: auto; }

.redText {
  color: #ec411f;
  font-weight: bold; }

.parallax {
  background-image: url("../images/persona1.jpg");
  height: 20rem;
  width: 20rem;
  background-attachment: fixed;
  background-position-x: -7rem;
  background-position-y: 1rem;
  background-repeat: no-repeat;
  background-size: contain; }

.block-quote {
  font-size: 2rem;
  font-weight: 100; }

.red-quotes {
  color: #ec411f;
  font-weight: bold; }

.bar {
  height: 12px;
  background-color: #ededed; }

.barFill {
  height: 100%;
  background-color: #ec411f; }

/*# sourceMappingURL=main.css.map */
