// palette //
$lightblue: #81d7ff; 
$blue: #3FC1FF;
$darkblue: #2A7BFF;
$subtext: #91a3b1;
$black: #3b494c;
$bgblack: #121213;
$white: #fcfcfc;


//font family//
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web');

//main styles//
body {
    font-family: "Open Sans", "Arial";
    background-color: $white;
    color: $black;
}

h1, h2, h3 {
    font-family: "Titillium Web";
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

//Landing Div//
.landingContainer {
    margin-bottom: 3em;
    background-color: $white;
}

//Navigation//
.container nav {
    margin-bottom: 3em !important;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    color: $black;
}

ul {
    list-style-type: none;
}

ol {
    margin-top: 20px;    
    padding-left: 0px;
    padding-bottom: 2px;
}

nav li a {
    font-family: "Titillium Web";
    text-decoration: none;
    font-weight: 800;
    color: $black;
    line-height: .4;
    letter-spacing: .1rem;
    // padding: 8px 0px !important;
}

nav li a:hover {
    color: $black !important;
    border-bottom: 4px solid rgb(118, 170, 255);
    padding-bottom: 0px;
    transition: ease-in-out .2s;
}

li {
    font-size: 16px;
    margin-bottom: 1rem;
    display: inline-block;
    color: $black;
}

li:not(:last-child) {
    margin-right: 15px;
}

@media only screen and (min-width: 1200px){
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
    ol li:nth-child(1), ol li:nth-child(2), ol li:nth-child(3) {
        margin-right: 40px;
    }
    ol{
        padding-left: 0;
    }
}

@media (max-width: 575.98px) { 
    .landingWindow {
        height: 7rem !important;
    }
}

@media screen and (max-width: 415px){
    ol{
        display: none;
    }
    
}


//Landing Window//

.landingWindow {
    height: 14rem;
}

#artWindow{
    background-image: linear-gradient(-90deg,rgba(42, 123, 255,0.7),rgba(63, 193, 255,0.7)),url("../images/WerewizardWM.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

#artWindow:hover{
    background-image: linear-gradient(-90deg,rgba(42, 123, 255,0.0),rgba(63, 193, 255,0.0)),url("../images/WerewizardWM.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    transition: .5s ease-in;
}

#devWindow{
    background-image: linear-gradient(135deg,rgba(42, 123, 255,0.7),rgba(63, 193, 255,0.7)),url("../images/pantry-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

#devWindow:hover{
    background-image: linear-gradient(135deg,rgba(42, 123, 255,0.0),rgba(63, 193, 255,0.0)),url("../images/pantry-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    transition: .5s ease-in;
}

#resumeWindow{
    background-image: linear-gradient(45deg,rgba(42, 123, 255,0.7),rgba(63, 193, 255,0.7)),url("../images/twb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#resumeWindow:hover{
    background-image: linear-gradient(-45deg,rgba(42, 123, 255,0.0),rgba(63, 193, 255,0.0)),url("../images/twb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .5s ease-in;
}

#aboutWindow{
    background-image: linear-gradient(-45deg,rgba(42, 123, 255,0.7),rgba(63, 193, 255,0.7)),url("../images/sketch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#aboutWindow:hover{
    background-image: linear-gradient(45deg,rgba(42, 123, 255,0.0),rgba(63, 193, 255,0.0)),url("../images/sketch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .5s ease-in;
}

.aboutOverflow {
    overflow: hidden;
}

.landingWindow:hover .landingText{
    display: none;
}


.landingText{
    color: white;
    font-family: "Titillium Web";
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 4px;
    word-wrap: break-word;
}

//Dev Section//

#devSection {
    background-image: linear-gradient(0deg,($bgblack),(#252525));
    color: $white;
    padding: 3.5em 0;
}

.pantryMockup{
    height: auto;
    width: 200px;
    margin:auto;
} 

.appName{
    margin-bottom:10px;
    letter-spacing: 5px;
}

.underLine{
    margin: 1em 0 2em 0;
    height: 4px;
    width:145px;
    background-color: $blue;
}

.blueText {
    color: $blue;
}

.appDescription{
    margin: auto;
}

.appDescription ul {
    padding-left: 0;
}

.appDescription li {
    color: $subtext;
    display: block;
}

.appDescription p {
    font-size: 20px;
    margin-bottom: 2em;
}

#pantryIcon{
    width: 50%;
    margin-bottom: 3em;
}


.projectButton{
    background-color: transparent;
    border: 2px solid $white;
    width: 100px;
    margin: 0 1em;
    color: #fcfcfc;
    text-decoration: none;
    letter-spacing: 2px;
}

.projectButton:hover{
    color: $blue;
    border: 2px solid $blue;
    transition: ease-in-out .4s;
}

// About Section //

#aboutSection {
    background-color:$white;
    padding: 3.5rem 0;
}

.square {
    width: 300px;
    height: 350px;
    overflow: hidden;
  }

  .pic {
    background: url("../images/me.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px -50px;
    height: 450px;
  }

.underLine2{
    margin: 1em 0 2em 0;
    height: 4px;
    width: 120px;
    background-color: $blue;
}

.greeting {
    letter-spacing: 4px;
}